body {
    background-color: rgb(255, 255, 255, 40%);
}

* {
    margin: 0;
    padding: 0;
}

fieldset {
    width: 600px;
    margin: 50px auto 0;
    background-color: rgb(255, 255, 255, 70%);
}

legend {
    margin-left: 20px;
    padding: 2px 10px;
    background-color: aliceblue;
}

table {
    padding: 20px 20px;
    border-spacing: 20px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

td input {
    width: 200px;
    height: 30px;
}

p input {
    width: 150px;
    height: 30px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
}